h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-variant: small-caps;
}
 h2 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-variant: small-caps;
     font-style: italic;
 }

 ul {
     font-family: Arial, Helvetica, sans-serif;
 }

 .negrita {
     font-style: ;
 }